In [1]:
# Patika Veri Bilimi 101 Projesi
import numpy as np
import pandas as pd

In [6]:
data= pd.read_csv('C:/Users/cberk/Downloads/petrol_consumption.csv')

In [7]:
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [8]:
data.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [11]:
x= data.iloc[:,0:4].values
y= data.iloc[:,4].values

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size =0.2, random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train = sc.fit_transform(x_train)
x_test= sc.transform(x_test)

In [43]:
reg0= RandomForestRegressor(n_estimators=10, random_state=0)
reg0.fit(x_train,y_train)
reg0.score(x_train,y_train)
#Train üzerinde R^2 değeri 10 ağaçlık gözlem için %90,8 çıktı.

0.9079823673595562

In [45]:
reg=RandomForestRegressor(n_estimators=10,random_state=0)
reg.fit(x_test,y_test)
reg.score(x_test,y_test)

#Test verisi üzerinde de R^2 değeri 10 ağaçlık gözlem için %85.8 çıktı, modelde overfitting sorunu görünmemektedir.

0.8587786546154581

In [46]:
pred=reg.predict(x_test)

In [40]:
#Model İyileştirme Denemeleri
reg1= RandomForestRegressor(n_estimators=50, random_state=0)
reg1.fit(x_train,y_train)
reg1.score(x_train,y_train)

0.9419643682364643

In [35]:
reg2=RandomForestRegressor(n_estimators=50,random_state=0)
reg2.fit(x_test,y_test)
reg2.score(x_test,y_test)
#Bootstrapping True, 50 ağaçlık gözlem için R^2 değeri %91,5 a çıktı test verisi üzerinde.

0.9155411165572137

In [47]:
#RMSE
#Zaten veriyi scale ettigimiz icin burada RMSLE kullanmaya gerek duymadım.
pred2=reg2.predict(x_test)
print('RMSE',np.sqrt(metrics.mean_squared_error(pred2,y_test)))
print('RMSE',np.sqrt(metrics.mean_squared_error(pred,y_test)))
#RMSE değerlerine göre bakıldığında da geliştirme yapılmış model daha iyi sonuç vermektedir.

RMSE 22.245938056193534
RMSE 28.765917332843742